* {
    padding: 0;
    margin: 0;
}

html, body {
  font-family: sans-serif;
  margin: auto;
}


#ui.container-fluid {
  /* position: absolute;  */
  /* top: 0;  */
  /* bottom: 0;  */
  /* width: 100%;  */
}

#map {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  z-index: 0;
}

.card {
  border-radius: 0;
  z-index: 20;
  padding: 1rem;
}

#ll-props .card {
  padding: 0rem;
}

.active .address{
  text-decoration: underline;
  cursor: pointer;
}

.active.address {
  text-decoration: underline;
  cursor: pointer;
}

.active.address::after {
  content: "←";
}

#closest {
  color: red;
  z-index: 20;
  pointer-events: auto;
}

#closest .address {
  background-color: rgba(255,255,255, 0.9);
}

#closest .address:hover {
  background-color: rgba(255,255,255, 1);
  cursor: pointer;
  text-decoration: underline;
}

#closest .address:hover::after {
  background-color: rgba(255,255,255, 1);
  cursor: pointer;
  text-decoration: underline;
  content: "←";
}

/* #closest .card:hover .address {
} */

#closest .address {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

#closest .city {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: red;
}

.btn-toolbar button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: red !important;
  border-radius: 0 !important;
  border-style: none !important;
}

.button.active {
  text-decoration: underline;
  cursor: pointer;
}

.btn-toolbar button.active {
  text-decoration: underline;
  cursor: pointer;
}

.btn-toolbar button a:link {
  color: white;
}

.btn-toolbar button a:visited {
  color: white;
}


.btn-toolbar button a:hover {
  color: white;
  font-weight: 500;
}

.btn-toolbar button a:active {
  color: white;
}

#ll-props {
  /* position: absolute; */
  margin-top: 2rem;
  overflow: auto;
  /* top: 45vh; */
  max-height:50vh;
  /* max-width: 35vw; */
  pointer-events: auto;
}

#ll-props > .card {
  background-color: transparent;F
  border-style: none;
  /* padding-left: 0;
  padding-top: 0;
  padding-bottom: 0; */
}

#page-title {
  position: absolute;
  top:0;
  font-family: 'Overpass', sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
  background-color: red;
  padding: 0.5rem;
  z-index:25;
  margin-left:-1rem;
  width:100%;
  height: 4rem;
}

#nearby {
  margin-top: 2rem;
  overflow: auto;
  max-height:60vh;
  pointer-events: auto;
}

#nearby > .card {
  background-color: transparent;
  border-style: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.property > .card-title-block {
  background-color: white;
  padding: 1rem;
  color: red;
}

#nearby .card-title-block {
  background-color: white;
  /* padding: 1rem 1rem 0 1rem; */
  /* margin: 1rem 1rem 0 1rem; */
  color: red;
}

.property > .body {
  padding: 1rem;
  color: white;
  background-color: rgba(255,0,0,0.3)
}


#ll-info {
  z-index: 20;
  color: red;
  pointer-events: auto;
}

#ll-info .ll-name {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

#ll-info .ll-body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

.address {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

#ll-props .city {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

#ll-props .body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

.data {
  font-family: 'Overpass Mono', monospace;
  font-weight: 300;
}

#geocoder {
  margin-top: 1rem;
}

.geocoder {
  display: block;
  z-index: 1;
  width: 100%;
  pointer-events: auto;
}

.mapboxgl-ctrl-geocoder {
  font-family: 'Overpass', sans-serif;
  width: 100%;
  border-radius: 0;
}

.mapboxgl-ctrl-geocoder--input {
  color: red;
}

.mapboxgl-ctrl-geocoder--suggestion {
  color: red;
}

.suggestions-wrapper {
  z-index: 3;
}

#left-sidebar {
  margin-top: 2rem;
  z-index: 20;
  pointer-events: none;
  display: none;
}

#right-sidebar {
  margin-top: 2rem;
  z-index: 20;
  pointer-events: none;
  display:none;
}

#here:hover {
  cursor: pointer;
  color: red;
}